.container{
    /* makes two different lines inline */
    display: flex;
    margin-top: 10px;
}

/* .others{
    this means it will be 4 times bigger than the sidebar
    flex: 4;
    background-color: darkcyan;
} */