/* font import */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* common css or common utilities */
header {
    display: flex;
    justify-content: center;
    background-color: #2D25A0;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
}


nav{
    width: 1161px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 0;
}

#mobileMenu {
    display: none;
}

.container{
    width: 1161px;
}

.otherLinkButton{
    background-color: #E02C6D;
    padding: 0 24px;
    width: 130px;
}

.otherLinkButton a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
}

.otherLinkButton i {
    font-size: 16px;
    margin-left: 8px;
}

.otherLinkButton p {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500;
}



/* header section */


nav a{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
}

.menu a{
    margin-right: 36px;
}

.linkButton{
    background-color: #E02C6D;
    padding: 0 24px;
}

.linkButton a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkButton i{
    font-size: 16px;
}
.linkButton p{
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500;
}

/* hero section */

.hero {
    display: flex;
    justify-content: center;
    background-color: #2D25A0;
    width: 100%;
    top: 140px;
    left: 0;
    right: 0;
    position: absolute;
    padding: 0 0 86px 0;
}
.container.heroSection{
    width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroInfo h1{
    font-size: 64px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 80px;
    width: 485px;
}

.heroImage img{
    width: 556px;
    height: 438px;
}



/* media queries */

/* mobile device */

@media only screen and (max-width:668px){
    nav {
        width: 100%;
        padding: 36px 0;
        margin: 0 18px;
    }
    #deskTopTabletMenu{
        display: none;
    }
    #mobileMenu{
        display: block;
    }

    #mobileMenu i{
        width: 24px;
        height: 24px;
        color: white;
    }

    .hero {
        top: 120px;
        padding: 0 0 86px 0;
    }

    .container.heroSection {
        width: 100%;
        flex-direction: column;
    }

    .heroInfo{
        margin-bottom: 50px;
    }

    .heroInfo h1 {
        font-size: 36px;
        line-height: 50px;
        width: 278px;
    }
    
    .heroImage img {
        width: 329px;
        height: 259px;
    }
}

/* tablet devices */

@media only screen and (min-width: 668px) and (max-width:992px){
    nav{
        justify-content: space-evenly;
    }

    .hero {
        padding: 0 0 66px 0;
    }
    .container.heroSection {
        width: 100%;
        justify-content: space-evenly;
    }
    .heroInfo h1 {
        font-size: 36px;
        line-height: 50px;
        width: 278px;
    }
    .heroImage img {
        width: 329px;
        height: 259px;
    }
}