/* importing stylesheets */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common css or utilities */

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{ 
    background-color: white;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin: 21px;
}

.sectionName{
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
}

hr{
    border: 0.5px solid #D1D1D1;
}


/* top player and top blog */

.topPlayer{
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
}

.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}

.player .playerName{
    font-size: 18px;
    margin-left: 16px;
}

.topBlog{
    margin-top: 27px;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 46px 26px;
}
.blog{
    display: flex;
    align-items: center;
}
.blogImage img{
    width: 177px;
    height: 117px;
}

.blogTitle{
    font-size: 20px;
    color: #000000;
}

.blogInfo{
    margin-left: 16px;
}
.blogInfo p{
    font-size: 16px;
    color: #9F9F9F;
}

.blogInfo a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}


/* latest course */

.container.courseSection{
    margin-top: 0;
}

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.course{
    width: 224px;
    height: 270px;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}

.course img{
    width: 224px;
    height: 104px;
}

.courseInfo{
    display: flex;
    justify-content: space-between;
}
.fa-star{
    font-size: 12;
}
.filled{
    color: #FFC014;
}

.empty {
    color: #AEAEAE;
}


