.topbar{
    width:100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    /* it means it's going to be over every element
    inside this application
    other components will never be over this topbar */
    z-index: 999;
}

.topbarWrapper{
    height: 100%;
    /* it means that top and bottom 0px and left-right 20px */
    padding: 0px 20px;
    /* By using flex two different divs will be set in the same line together */
    display: flex;
    /* this centers both the div vertically */
    /* because of that top and bottom padding is not required
    because it sets them in the center in the given div size */
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}

.topRight{
    display: flex;
    align-items: center;
}


.topbarIconContainer{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}

.topIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}