/* font import */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* common css or common utilities */
header {
    display: flex;
    justify-content: center;
    background-color: #2D25A0;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
}


nav{
    width: 1161px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 0;
}

main{
    top: 740px;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    margin-top: 158px;
    margin-bottom: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mobileMenu {
    display: none;
}

.container{
    width: 1050px;
    display: flex;
    align-items: center;
}

.otherLinkButton{
    background-color: #E02C6D;
    padding: 0 24px;
    width: 130px;
}

.otherLinkButton a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
}

.otherLinkButton i {
    font-size: 16px;
    margin-left: 8px;
}

.otherLinkButton p {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500;
}



/* header section */


nav a{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
}

.menu a{
    margin-right: 36px;
}

.linkButton{
    background-color: #E02C6D;
    padding: 0 24px;
}

.linkButton a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkButton i{
    font-size: 16px;
}
.linkButton p{
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500;
}

/* hero section */

.hero {
    display: flex;
    justify-content: center;
    background-color: #2D25A0;
    width: 100%;
    top: 140px;
    left: 0;
    right: 0;
    position: absolute;
    padding: 0 0 86px 0;
}
.container.flexSection{
    width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroInfo h1{
    font-size: 64px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 80px;
    width: 485px;
}

.heroImage img{
    width: 556px;
    height: 438px;
}

/* main section starts */

/* all the players */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px 30px;
    align-items: center;
    justify-content: center;
}
.player{
    padding: 15px;
    width: 300px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.playerImage img{
    width: 300px;
    height: 256px;
}

.playerTitle{
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
}

.detail{
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}

/* section above footer */

#aboveFooterSection{
    margin-top: 165px;
}

.highlightTitle{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;
    width: 469px;
}

#hightlightDetail{
    width: 404px;
}

.highlightImage img{
    width: 567px;
    height: 427px;
}

/* footer section */

.footerSection{
    width: 484px;
}

.footerSection img{
    width: 483.87px;
    height: 110px;
}

.footerSection p{
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-top: 20px;
}

.socialMediaIcon{
    display: flex;
    justify-content: center;
}

.socialMediaIcon img{
    width: 32px;
    height: 32px;
    margin-right: 14px;
}

/* media queries */

/* mobile device */

@media only screen and (max-width:750px){
    nav {
        width: 100%;
        padding: 36px 0;
        margin: 0 18px;
    }

    main{
        top: 807px;
    }
    .container {
        width: 100%;
        flex-direction: column;
    }
    #deskTopTabletMenu{
        display: none;
    }
    #mobileMenu{
        display: block;
    }

    #mobileMenu i{
        width: 24px;
        height: 24px;
        color: white;
    }

    .hero {
        top: 120px;
        padding: 0 0 62px 0;
    }

    .container.flexSection {
        width: 100%;
        flex-direction: column;
    }

    .heroInfo{
        margin-bottom: 50px;
    }

    .heroInfo h1 {
        font-size: 36px;
        line-height: 50px;
        width: 278px;
    }
    
    .heroImage img {
        width: 329px;
        height: 259px;
    }

    .players{
        grid-template-columns: repeat(1, 1fr);
    }

    #aboveFooterSection {
        margin-top: 60px;
    }

    .highlightInfo{
        width: 329px;
    }

    .highlightTitle{
        font-size: 30px;
        line-height: 40px;
        width: 292px;
    }

    #hightlightDetail{
        width: 329px;
    }

    .highlightImage{
        margin-top: 29px;
    }
    .highlightImage img{
        width: 328px;
        height: 248px;
    }

    footer{
        margin-top: 55px;
        margin-bottom: 187px;
    }

    .footerSection {
        width: 100%;
    }
    
    .footerSection>img {
        width: 150px;
        height: 63px;
    }

}

/* tablet devices */

@media only screen and (min-width: 750px) and (max-width:992px){
    nav{
        justify-content: space-evenly;
    }

    main{
        top: 540px;
    }

    .container {
        width: 700px;
    }

    .hero {
        padding: 0 0 66px 0;
    }
    .container.flexSection {
        width: 100%;
        justify-content: space-evenly;
    }
    .heroInfo h1 {
        font-size: 36px;
        line-height: 50px;
        width: 278px;
    }
    .heroImage img {
        width: 329px;
        height: 259px;
    }

    .players{
        grid-template-columns: repeat(2, 1fr);
    }

    .highlightInfo {
        width: 329px;
    }

    .highlightTitle {
        font-size: 36px;
        line-height: 50px;
        width: 278px;
    }

    #hightlightDetail {
        width: 329px;
    }
    

    .highlightImage img {
        width: 329px;
        height: 259px;
    }

    
}

/* laptop devices or smaller desktop devices*/

@media only screen and (min-width:992px) and (max-width: 1200px){
    nav {
        justify-content: space-around;
    }
    main{
        top: 540px;
    }

    .container{
        width: 750px;
    }

    .hero {
        padding: 0 0 66px 0;
    }
    
    .container.flexSection {
        width: 100%;
        justify-content: space-evenly;
    }
    
    .heroInfo h1 {
        font-size: 36px;
        line-height: 50px;
        width: 278px;
    }
    
    .heroImage img {
        width: 329px;
        height: 259px;
    }

    .players{
        grid-template-columns: repeat(2, 1fr);
    }

    .highlightInfo {
        width: 329px;
    }
    
    .highlightTitle {
        font-size: 36px;
        line-height: 50px;
        width: 278px;
    }
    
    #hightlightDetail {
        width: 329px;
    }
    
    
    .highlightImage img {
        width: 329px;
        height: 259px;
    }
}